<h3> New Post </h3>

<form class="well">
	
	<label>Title:</label>  
	<input type="text" class= "span3" name="title"/>

	<label>Url:</label>  
	<input type="text" class="span3" name="url"/>

	<br/><br/>
	<%= link_to 'Submit', posts_path, :class => 'btn btn-primary'%>
</form>