
<h2> <%=link_to @post.title, @post.url%> </h2>
<h6> No. of comments: <%= @post.comments.count %> </h6>
comments:

<ul class="inline">
	<% @post.comments.each do |comment| %>	
		<li>
			<%= comment.content %>
		</li>
	<%end%>
</ul>